/target
/checkouts
*.jar
*.class
/.calva/output-window/
/.cpcache
/.lein-*
/.lsp/sqlite*.db
/.nrepl-history
/.nrepl-port
/.rebel_readline_history
/.socket-repl-port
.hgignore
.hg/
classes/*
!classes/.keep
.classpath
.project
.settings/
.directory-listing-ok
.certificates/
